---
title: Blog
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body class="closed">
 {% include nav.html %}
<div class="wrapper">
<div class="post">
  <article class="post-content">
  <!-- {{ content }} -->
  <!-- <h1 class="post-title"> Blog </h1> -->
    {% for post in site.posts  %}
      <div class="squares">
        <h2>
          <a class="post-header" href="{{ post.url }}">{{ post.title }}  </a>
          <span class="post-date">{{ post.date | date_to_string }}</span>
        </h2>
            <p>{{ post.info }}</p>
    </div>
    {% endfor %}

  </article>
        <div class="clearfix"></div>
</div>
</div>
</body>
</html>
